* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 90 0px;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    color: #000;
}

:root {
    --theme-color: linear-gradient(90deg, #0765bd, #4ccffb);
    --theme-color-reverse: linear-gradient(90deg, #4ccffb, #0765bd);
    --theme-color-dark: #0765bd;
    --primary-color: #4ccffb;
    --secondary-color: #0765bd;
    --shadow-primary-color: #007cf0;
    --shadow-secundary-color: rgb(6, 212, 150);
}


/* ICONOS */

.icon img {
    width: 2.5rem;
}

/* ICONOS */


/* NAVBAR  */

.navbar {
    background: var(--theme-color);
    box-shadow: var(--shadow-primary-color) 0px 1px 6px;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.container-nav {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.nav-logo {
    font-size: 2rem;
    display: flex;
}

.nav-user-em {
    display: flex;
    justify-content: space-around;

}

.nav-logo img {
    width: 5rem;
    display: block;
}

.navbar-title {
    color: white;
    letter-spacing: -.08em;
    font-weight: bold;
    line-height: 80px;
    font-size: 2.5rem;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-item {
    font-size: 16px;
    margin: 0 3px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.item {
    text-decoration: none;
    color: white;
    padding: 0.6rem;
    border-radius: 1.1rem;
}

.item:hover,
.item_active {
    padding: 0.6rem;
    border-radius: 1.1rem;
    background-color: white;
    color: black;
    transition: 0.8s;
}

.img-user {
    display: block;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

@media(max-width: 840px) {
    body {
        padding-top: 70px 20px;
    }

    .navbar {
        height: 60px;
    }

    .container-nav {
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-logo img {
        width: 4rem;
    }

    .navbar-title {
        font-size: 2rem;
        line-height: 60px;
    }

    .nav-menu {
        background: var(--theme-color-reverse);
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 10px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }

    .nav-item {
        font-size: 16px;
        margin: 0 4px;
        line-height: 60px;
    }

    .item:hover,
    .item_active {
        padding: 0.6rem;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }
}

/* NAVBAR  */




/* INICIO */

.container-inicio {
    background: var(--theme-color);
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.title-inicio {
    flex: 1;
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: -.09em;
    text-align: center;
    min-width: 300px;
}

.title-item {
    display: block;
    color: #fff;
    line-height: 1.1;
    position: relative;
    padding: 0 12px;
}

.title-item:before {
    background: linear-gradient(90deg, var(--start-color), var(--end-color));
    content: var(--content);
    position: absolute;
    inset: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated 9s infinite;
    animation-delay: var(--delay);
}

@keyframes animated {

    0%,
    16.667%,
    100% {
        opacity: 1;
    }

    33.333%,
    83.333% {
        opacity: 0;
    }

}

@media(max-width: 768px) {
    .title-inicio {
        font-size: 5rem;
    }
}

@media(max-width: 576px) {
    .title-inicio {
        font-size: 3rem;
    }
}

/* INICIO */


/* SOBREMI */

.sobremi {
    text-align: center;
}

.img-sobremi-pc {
    width: 95%;
    max-width: 850px;
}

.title-sobremi {
    background: var(--theme-color);
    font-size: 1.8rem;
    letter-spacing: -.06em;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 0px 15px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height: 1.1;
    max-width: 650px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.button {
    font-weight: bold;
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.1rem 1rem;
    line-height: 2rem;
    margin: 1rem;
    border-radius: 0.7rem;
    box-shadow: rgba(12, 33, 119, 0.725) 2px 4px 3px 1px;
    color: white;
    background: var(--theme-color);
}

.button:hover {
    box-shadow: var(--shadow-primary-color) 2px 4px 3px 1px;
    filter: brightness(130%);
    transition: 0.5s;
}

@media(min-width: 992px) {
    .sobremi {
        text-align: left;
    }

    .sobremi-container {
        display: flex;
        justify-content: space-between;
        max-width: 1300px;
        margin: 50px auto;
        padding: 20px;
    }

    .img-sobremi-pc {
        width: 100%;
    }

    .title-sobremi {
        max-width: 350px;
        margin-top: 140px;
        font-size: 1.9rem;
        padding: 0;
    }
}


/* SOBREMI */


/* HABILIDADES */

.habilidades-container {
    min-height: 70vh;
    background: url("assets/fondo-2.jpeg") no-repeat center center fixed;
    background-size: 1200px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.habilidades {
    margin-top: 3rem;
    padding-top: 4rem;
    text-align: center;
}

.habilidades-links {
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    max-width: 900px;
}

.img-habilidades-pc {
    width: 50%;
    max-width: 300px;
}

.img-habilidades {
    width: 80px;
    max-width: 6rem;
    padding: 10px;
    margin: 10px;
    filter: brightness(80%);
    transition: 0.4s ease-in-out;
}

.Heroku {
    width: 65px;
}

.express {
    width: 120px;
    height: 70px;
}


.img-habilidades:hover {
    filter: brightness(135%);
}

.title-habilidades {
    background: var(--theme-color);
    font-size: 2rem;
    letter-spacing: -.06em;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height: 1.1;
    max-width: 950px;
}

.habilidades-logo-circulo {
    padding: 10px 10px;
}

@media(min-width: 992px) {
    .title-habilidades {
        font-size: 2.5rem;
        max-width: 800px;
    }

    .habilidades-links {
        max-width: 800px;
    }
}

/* HABILIDADES */



/* CARTA */

.portafolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.carta {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 15px;
    padding: 10px;
}

.carta .cara {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.carta .frontal {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.carta .frontal img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carta .frontal h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.carta .trasera {
    transform: perspective(600px) rotateY(180deg);
    background: var(--theme-color);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.carta .trasera .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.carta .trasera .link a {
    color: #f3f3f3;
}

.carta .trasera .link h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.carta .trasera p {
    letter-spacing: 1px;
}

.carta:hover .frontal {
    transform: perspective(600px) rotateY(180deg);
}

.carta:hover .trasera {
    transform: perspective(600px) rotateY(360deg);
}

/* CARTA */



/* FOOTER */
.container-footer {
    background: var(--theme-color-reverse);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-title {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 350px;
}

/* FOOTER */