* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    color: #000;
}


/* NAVBAR  */

.container-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}

.navbar {
    height: 4.5rem;
    position: fixed;
    width: 100%;
    background: linear-gradient(85deg, #0765bd, #4ccffb);
}

.navbar-title {
    color: white;
    letter-spacing: -.08em;
}

.nav-foto img {
    width: 5rem;
}

.nav-foto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

.nav-item {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 2rem;
    padding: 0.2rem;
}

.item {
    text-decoration: none;
    color: white;
    padding: 0.6rem;
}

.item:hover {
    padding: 0.6rem;
    background-color: white;
    color: black;
    border-radius: 1.1rem;
}

/* NAVBAR  */


/* INICIO */

.container-inicio {
    background: linear-gradient(85deg, #0765bd, #4ccffb);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.title-inicio {
    font-size: 7rem;
    font-weight: 800;
    letter-spacing: -.09em;
    text-align: center;
}

@media (max-width: 768px) {
    .title-inicio {
        font-size: 4rem;
    }
}

.title-item {
    display: block;
    color: #fff;
    line-height: 1.1;
    position: relative;
    padding: 0 12px;
}

.title-item:before {
    background: linear-gradient(90deg, var(--start-color), var(--end-color));
    content: var(--content);
    position: absolute;
    inset: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated 9s infinite;
    animation-delay: var(--delay);
}

@keyframes animated {

    0%,
    16.667%,
    100% {
        opacity: 1;
    }

    33.333%,
    83.333% {
        opacity: 0;
    }

}

/* INICIO */


/* MAIN  */

.container-main {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: rgb(255, 255, 255);
}

.title-main {
    background: linear-gradient(85deg, #0765bd, #4ccffb);
    font-size: 2.1rem;
    letter-spacing: -.06em;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.row {
    display: grid;
    grid-template-areas: 'sección-1 sección-2';
    grid-template-rows: auto;
    align-items: center;
}

.seccion-1 {
    grid-area: sección-1;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.seccion-2 {
    grid-area: sección-2;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.seccion-2 img {
    width: 45rem;

}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.button {
    font-weight: bold;
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 12rem;
    height: 2.5rem;
    padding: 0.6rem;
    margin: 1rem;
    border-radius: 0.7rem;
    box-shadow: rgba(12, 33, 119, 0.725) 2px 4px 3px 1px;
    color: white;
    background: linear-gradient(85deg, #0765bd, #4ccffb);
}

.button:hover {
    box-shadow: #007cf0 2px 4px 3px 1px;
}

/* MAIN  */


/* ICONOS */

.icon img {
    width: 2.5rem;
}

/* ICONOS */